body{
	background-image: url("/static/images/backp.jpg");
	background-repeat: no-repeat;

}
.brand{
	font-size: 64px;
	text-align: center;
	background-image: url("/static/images/background.jfif");
	background-repeat: no-repeat;

}
#Welcome{
	background-blend-mode: lighten;
	box-sizing: border-box;
	font-size: 16px;
	padding-left: 5px;
	border: 1px solid white;
}