body{
	background-image: url("/static/images/backp.jpg");
	color: #fffdd0;
}
.brand{
	font-size: 64px;
	text-align: center;
	background-color: #8FACE3;

}
#Welcome{
	background-blend-mode: lighten;
	box-sizing: border-box;
	font-size: 16px;
	padding-left: 5px;
	border: 1px solid white;
}